<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TelcoPlus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE5214351BF900CC003F65B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE5214511BF900CC003F65B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE52145C1BF900CC003F65B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
